html {min-width:320px;}
body,ul,p{margin:0;padding:0;}
body{min-width:320px;margin:0 auto;text-align:left;font-family:'microsoft yahei',STHeiti,Arial; font-size:14px;}

li{list-style:none;}
h1,h2,h3 { font-weight:normal; margin:0; font-size:18px;}
a,a:visited{text-decoration:none;color:#000;}
.flipsnap:after ,.box:after ,.ol:after{content:'';display:block;clear:both;height:0;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.mt5 { margin-top:5px;}
.mt15 { margin-top:5px;}
.mt20 { margin-top:20px;}
.red{ color:#e00;}
.orange , a.orange{ color:#f60}
.l { float:left;}
.r { float:right;}
.g3 { color:#333;}
.g6 { color:#666;}
.g9 { color:#999;}
.ft12 { font-size:12px;}
.ft16 { font-size:16px;}
.ft18 { font-size:18px;}
.ft20 { font-size:20px;}
.lh22 { line-height:22px;}