@charset "utf-8";
*{margin:0; padding:0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0; font-family:Arial; font-size:15px; color:#444;}
html{padding: 0 ;}
body{
    min-width: 320px !important;
    max-width: 640px !important;
    margin: 0 auto;
    overflow: hidden;
    background-color: #F7E7E8;
}
h1,h2,h3,h4,h5,h6 {font-size:15px; font-weight:normal;}
a{text-decoration:none;}
li{list-style-type:none;}
img{vertical-align:middle; border:0; }
em,i{
    font-style: normal;
}
.clear{width:100%;height:0;clear:both; font-size:0; line-height:0; overflow:hidden}

/*******loading *********/
#loadingBox{width:160px;height:100px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
#loading{height: 50px;width: 50px;margin:0 auto;border:4px solid #E62465;border-right-color:#ccc;border-bottom:4px solid #ccc;-webkit-border-radius:60px;border-radius:60px;-webkit-animation: rotate 1s infinite linear;animation: rotate 1s infinite linear;}
#loadingTips{text-align:center;color:#E62465;margin-top:10px;font-size:15px;}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.swiper-container {
    display: none;
    width:100%;
    height:100%;
    color: #fff;
    text-align: center;
    position: relative;
}
.swiper-wrapper{
    height:100%;
}
.swiper-slide {
    width:100%;
    height: 100%;
    position:relative;
}
.swipeup-tips{
    display: block;
    width:94px;
    height:35px;
    background:url(../../../images/activity/520love/upbtn.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom:5%;
    left:0;
    right:0;
    margin:auto;
    z-index: 99;
}

.join-1{
    background: url("../../../images/activity/520love/1.jpg") no-repeat center;
    background-size: cover;
}
.join-2{
    background: url("../../../images/activity/520love/2.jpg") no-repeat center;
    background-size: cover;
}
.join-3{
    background: url("../../../images/activity/520love/3.jpg") no-repeat center;
    background-size: cover;
}
.join-4{
    background: url("../../../images/activity/520love/4.jpg") no-repeat center;
    background-size: cover;
}
.join-5{
    background: url("../../../images/activity/520love/5.jpg") no-repeat center;
    background-size: cover;
}
.join-6{
    background: url("../../../images/activity/520love/6.jpg") no-repeat center;
    background-size: cover;
}
.join-7{
     background: url("../../../images/activity/520love/7.jpg") no-repeat center;
    background-size: cover;
}
.join-8{
    background: url("../../../images/activity/520love/8.jpg") no-repeat center;
    background-size: cover;
}
.join-8 .ss-elem {
    width: 100%;
    position: absolute;
    height: 140px;
    left: 0;
    bottom: 2%;
}
.join-8 .ss-elem img{
    width: 120px;
}
.join-8 .ss-elem a{
    margin-left: 2%;
}
.join-8 .ss-elem a img{
    width: 180px;
}

#audio_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 60px;
    text-align: center;
    z-index: 99;
}
.play_yinfu{
    width: 40px;
    height: 40px;
    background: url(../../../images/activity/520love/music.gif) no-repeat 50% 50%;
    background-size: 40px 40px;
}
#audio_btn.off{
    background-position: 0px -30px;
}
.off{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-image: url(../../../images/activity/520love/music_off.png);
}
.rotate{
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

/****************animation************************/

.scale-flicker{
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
    -webkit-animation:scale-flicker .5s linear infinite;
    animation:scale-flicker .5s linear infinite;
}
@-webkit-keyframes scale-flicker{
    0%{
        -webkit-transform:scale(1);
    }
    100%{
        -webkit-transform:scale(1.15);
    }
}
@keyframes scale-flicker{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.15);
    }
}
.opacity{
    -webkit-animation:opacity 0.5s linear;
    animation:opacity 0.5s linear;
}
@-webkit-keyframes opacity{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes scale-flicker{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.swipeup-animation{
    -webkit-animation:swipeup-animation 1s linear infinite;
    animation:swipeup-animation 1s linear infinite;
}
@-webkit-keyframes swipeup-animation{
    0%{
        -webkit-transform:translateY(0px);
    }
    50%{
        -webkit-transform:translateY(15px);
    }
    100%{
        -webkit-transform:translateY(0px);
    }
}
@keyframes swipeup-animation{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(15px);
    }
    100%{
        transform:translateY(0px);
    }
}
.translateZ {
    -webkit-animation:translateZ 1s linear infinite!important;
    animation:translateZ 1s linear infinite!important;
}
@-webkit-keyframes translateZ{
    0%{
        -webkit-transform:translate3d(0px,0px,0px);
    }
    25%{
        -webkit-transform:translate3d(-1px,2px,0px);
    }
    50%{
        -webkit-transform:translate3d(0px,0px,0px);
    }
    75%{
       -webkit-transform:translate3d(1px,-2px,0px);
    }
    100%{
        -webkit-transform:translate3d(0px,0px,0px);
    }
}
@keyframes translateZ{
    0%{
        transform:translate3d(0px,0px,0px);
    }
    25%{
        transform:translate3d(-1px,2px,0px);
    }
    50%{
        transform:translate3d(0px,0px,0px);
    }
    75%{
       transform:translate3d(1px,-2px,0px);
    }
    100%{
        transform:translate3d(0px,0px,0px);
    }
}
.scale-shadow{
    -webkit-animation:scale-shadow 1s linear infinite;
    animation:scale-shadow 1s linear infinite;
}
@-webkit-keyframes scale-shadow{
    0%{
        -webkit-transform:scale(1);
    }
    25%{
        -webkit-transform:scale(1.1);
    }
    50%{
        -webkit-transform:scale(1);
    }
    75%{
       -webkit-transform:scale(1.1);
    }
    100%{
        -webkit-transform:scale(1);
    }
}
@keyframes scale-shadow{
    0%{
        transform:scale(1);
    }
    25%{
        transform:scale(1.1);
    }
    50%{
        transform:scale(1);
    }
    75%{
       transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
