.c_customer_box{ background:url(c_custom.gif) no-repeat; width:957px; height:157px; padding:4px 0 0 3px; margin:12px 0 0;}
.c_customer_box .c_customer_pic{ float:left; width:309px;}
.c_customer_box .c_customer{ float:left; width:416px; overflow:hidden;}
.c_customer .c_cp_tab2{ background:#ebeaea url(c_payway.gif) no-repeat 0 13px; width:415px; height:71px; padding-top:13px; overflow:hidden;}
.c_customer .c_cp_tab2 li{ float:left; width:83px; height:71px;}
.c_customer .c_cp_tab2 li a,.c_customer .c_cp_tab2 li a:hover{ display:block; width:83px; height:71px; cursor:pointer;}
.c_cp_tab2 .cp_01 .hover{ background:url(c_paywaz.gif) no-repeat;}
.c_cp_tab2 .cp_02 .hover{ background:url(c_paywb0.gif) no-repeat;}
.c_cp_tab2 .cp_03 .hover{ background:url(c_paywb1.gif) no-repeat;}
.c_cp_tab2 .cp_04 .hover{ background:url(c_paywb2.gif) no-repeat;}
.c_cp_tab2 .cp_05 .hover{ background:url(c_paywb3.gif) no-repeat;}
.c_hot_cp2 h2{ background:url(c_custon.gif) no-repeat; width:412px; height:23px; padding:4px 0 0 30px; margin:6px 0 0; font:bold 12px "Î¢ÈíÑÅºÚ","ËÎÌå"; color:#fff;}
.c_hot_cp2 ul{ background:#fff; margin:10px 0 0 8px;}
.c_hot_cp2 li{ float:left; padding-left:10px;}
.c_hot_cp2 li a{ display:block; float:left; background:url(c_icon10.gif) no-repeat 0 6px; padding-left:10px; font:bold 12px "Î¢ÈíÑÅºÚ","ËÎÌå"; color:#585858;}
.c_hot_cp2 li a:hover{ color:#ff9600; text-decoration:none;}

.c_customer_r{ float:left; background:url(c_custoo.gif) no-repeat; width:207px; height:139px; padding:10px 0 0 13px; margin:1px 0 0 5px; _margin:0 0 0 3px;}
.c_customer_r li{ line-height:18px;}
.c_customer_r li a{ display:inline-block; background:url(c_custop.gif) no-repeat 10px 8px; padding-left:20px; height:18px; line-height:18px;}
.c_customer_r li a:hover{ background:url(c_custoq.gif) no-repeat; width:182px; color:#ffa800; text-decoration:none;}